.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  height: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.wrapper-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.message {
  font-size: 24px;
  font-weight: 700;
  color: var(--message-color);
}

.link {
  text-decoration: none;
  color: var(--black);
}
