:root {
  --bg-header: #dcb79d;
  --bg-footer: #d5b86f;
  --bg-main: #6b666e;
  --bg-input-main: #dcb79d;

  --btn-search-color: #b33636;
  --btn-search-color-hover: #ce3e3e;
  --white-color-text: #ead8d8;

  --border-input-main-color: #b33636;

  --main-width-page: 1280px;

  --main-padding-page: 0 40px;

  --btn-main-transition: all 0.3s ease;
}
