.wrapper {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000006b;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: aqua;
}

.div {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
